body {
    margin: 0;
    padding: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 14px;
    color: black;
}

.github-ribbon {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom:0;
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.footer .copyright, .footer .copyright a {
    font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
    font-size: 10px;
    color:#999;
}

input {
    outline: none;
}

#connect {
    font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
    width: 300px;
    margin: -200px auto;

    border: 1px solid #ccc;
    border-radius: 3px;

    background-image: -webkit-linear-gradient(top, #fff, #f0f0f0);
    background-image: -moz-linear-gradient(top, #fff, #f0f0f0);
    background-image: -o-linear-gradient(top, #fff, #f0f0f0);
    background-image: -ms-linear-gradient(top, #fff, #f0f0f0);
    background-image: linear-gradient(top bottom, #fff, #f0f0f0);

    -webkit-box-shadow: 0 0 18px rgba(0,0,0,0.18);
    -moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.18);
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.18);

    -webkit-transition: margin-top 0.5s ease;
    -moz-transition: margin-top 0.5s ease;
    -o-transition: margin-top 0.5s ease;
    -ms-transition: margin-top 0.5s ease;
    transition: margin-top 0.5s ease;
}

#connect.shown {
    margin-top: 120px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

#connect.hidden {
    opacity: 0;
    -webkit-transform: scale(4);
    -moz-transform: scale(4);
    -o-transform: scale(4);
    -ms-transform: scale(4);
    transform: scale(4);
}

#connect h1 {
    font-size: 22px;
    color: #333337;
    text-align: center;
    margin-bottom: 5px;
}

#connect h3 {
    font-size: 14px;
    font-weight: normal;
    color: #999990;
    text-align: center;
    margin-top: 5px;
}

#connect input {
    margin: 5px 40px 20px;
    width: 200px;

    border: 1px solid #AAAAAC;
    padding: 8px 8px 8px 12px;
    border-radius: 20px;
    font-size: 12px;
    -webkit-box-shadow: 0 1px 1px white, inset 0 1px 5px #E7E7E7;
    -moz-box-shadow: 0 1px 1px white, inset 0 1px 5px #E7E7E7;
    box-shadow: 0 1px 1px white, inset 0 1px 5px #E7E7E7;
}

#connect input:focus {
    border: 1px solid #bbb;
}

#chaya {
    display: none;
}

#chaya .content {
    margin: 45px 220px 80px 23px;
}

#chaya .info {
    color: #AAAAAC;
    font-size: 12px;
    font-weight: 200;
    border-bottom: 1px solid #F6F6F8;
    padding-bottom: 3px;
    margin-bottom: 4px;
    padding-left: 55px;
}

#chaya .box {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    display: -moz-box;
    -moz-box-orient: horizontal;
    display: box;
    box-orient: horizontal;

    border-bottom: 1px solid #F6F6F8;
    padding-bottom: 3px;
    margin-bottom: 4px;
    width: 100%;
}

#chaya .box .pic {
    margin: 7px 5px 5px 5px;
    width: 36px;
    height: 36px;
    max-height: 36px;
    max-width: 36px;
    background: url('http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=36&d=mm&f=d') no-repeat 0 0;
    border-radius: 4px;
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.15), inset -1px -1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.15), inset -1px -1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.15), inset -1px -1px 1px rgba(0, 0, 0, 0.15);
}

#chaya .box .msg {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    margin-left: 10px;
}

#chaya .box .msg .meta {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    display: -moz-box;
    -moz-box-orient: horizontal;
    display: box;
    box-orient: horizontal;

    padding-top: 5px;
    padding-bottom: 1px;
    color: #99999B;
    font-weight: 300;
    font-size: 14px;
    width:100%;
}

#chaya .box .msg .meta .from {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}

#chaya .box .msg .meta .time {
    color: #AAAAAC;
    font-size: 12px;
    font-weight: 200;
}

#chaya .box .msg .chat-msg {
    color: #333;
    font-size: 20px;
    padding-bottom: 5px;
    font-weight: 300;
}

#chaya .titlebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    line-height: 35px;
    z-index: 100;

    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -k-user-select: none;
    user-select: none;

    border-bottom: 1px solid #777;

    -webkit-box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.25), 0px 1px 7px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.25), 0px 1px 7px rgba(0, 0, 0, 0.45);
    -o-box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.25), 0px 1px 7px rgba(0, 0, 0, 0.45);
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.25), 0px 1px 7px rgba(0, 0, 0, 0.45);

    background-image: -webkit-gradient(linear, center top, center bottom, from(#fcfcfc), to(#bfbfbf), color-stop(3%, #f7f7f7), color-stop(20%, #f2f2f2), color-stop(60%, #d9d9d9));
    background-image: -webkit-linear-gradient(top, #fcfcfc, #f7f7f7 3%, #f2f2f2 20%, #d9d9d9 60%, #bfbfbf);
    background-image: -moz-linear-gradient(top, #fcfcfc, #f7f7f7 3%, #f2f2f2 20%, #d9d9d9 60%, #bfbfbf);
    background-image: -o-linear-gradient(top, #fcfcfc, #f7f7f7 3%, #f2f2f2 20%, #d9d9d9 60%, #bfbfbf);
    background-image: -ms-linear-gradient(top, #fcfcfc, #f7f7f7 3%, #f2f2f2 20%, #d9d9d9 60%, #bfbfbf);
    background-image: linear-gradient(top bottom, #fcfcfc, #f7f7f7 3%, #f2f2f2 20%, #d9d9d9 60%, #bfbfbf);
}

#chaya .titlebar .brand {
    font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-shadow: 0 1px 1px white;
    color: #666;
    width: 100px;
    margin: 0 auto;
    -webkit-font-smoothing: subpixel-antialiased;
}

#chaya .sidebar {
    font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
    color: #868B91;
    text-shadow: 0 1px 0 white;
    padding-left: 10px;

    position: fixed;
    top: 35px;
    bottom: 0;
    right: 0;
    width: 200px;
    z-index: 90;
    border-left: 1px solid #B3BCC5;
    background: #E2E9F2;

    -webkit-box-shadow: inset 0 1px 0 white;
    -moz-box-shadow: inset 0 1px 0 white;
    box-shadow: inset 0 1px 0 white;
}

#chaya .sidebar h3 {
    margin: 20px 10px 5px 10px;
    font-size: 13px;
}

#chaya .sidebar ul {
    margin: 5px 10px 10px 0;
    padding-left: 10px;
}

#chaya .sidebar li {
    list-style-type: none;
    line-height: 22px;
    color:#666;
}

#chaya .actionbar {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    display: -moz-box;
    -moz-box-orient: horizontal;
    display: box;
    box-orient: horizontal;

    position: fixed;
    bottom: 10px;
    left: 15px;
    right: 225px;
    height: 60px;
    z-index: 100;

    border: 1px solid #AAAAAC;
    border-radius: 4px;

    background: rgb(255, 255, 255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 50%, rgba(225, 225, 225, 1) 51%, rgba(246, 246, 246, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(50%, rgba(241, 241, 241, 1)), color-stop(51%, rgba(225, 225, 225, 1)), color-stop(100%, rgba(246, 246, 246, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 50%, rgba(225, 225, 225, 1) 51%, rgba(246, 246, 246, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 50%, rgba(225, 225, 225, 1) 51%, rgba(246, 246, 246, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 50%, rgba(225, 225, 225, 1) 51%, rgba(246, 246, 246, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 50%, rgba(225, 225, 225, 1) 51%, rgba(246, 246, 246, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#f6f6f6', GradientType = 0); /* IE6-9 */

    -webkit-box-shadow: inset -1px -1px 0px rgba(255, 255, 255, 0.9), 0px 0px 6px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset -1px -1px 0px rgba(255, 255, 255, 0.9), 0px 0px 6px rgba(0, 0, 0, 0.25);
    -o-box-shadow: inset -1px -1px 0px rgba(255, 255, 255, 0.9), 0px 0px 6px rgba(0, 0, 0, 0.25);
    box-shadow: inset -1px -1px 0px rgba(255, 255, 255, 0.9), 0px 0px 6px rgba(0, 0, 0, 0.25);
}

#chaya .actionbar .pic {
    margin: 12px 12px;
    width: 36px;
    height: 36px;
    background: url('http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=36&d=mm&f=d') no-repeat 0 0;

    border-radius: 4px;

    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.15), inset -1px -1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.15), inset -1px -1px 1px rgba(0, 0, 0, 0.15);
    -o-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.15), inset -1px -1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.15), inset -1px -1px 1px rgba(0, 0, 0, 0.15);
}

#chaya .actionbar .wrapper {
    position: fixed;
    bottom: 23px;
    left: 70px;
    right: 260px;
}

#chaya .actionbar .wrapper input {
    width: 100%;

    border: 1px solid #AAAAAC;
    padding: 8px 8px 8px 12px;
    border-radius: 20px;
    font-size: 12px;

    -webkit-box-shadow: 0 1px 1px white, inset 0 2px 5px #E7E7E7;
    -moz-box-shadow: 0 1px 1px white, inset 0 2px 5px #E7E7E7;
    box-shadow: 0 1px 1px white, inset 0 2px 5px #E7E7E7;
}