body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
    color: black;
}

#content {
    margin: 10px;
}

#content .entry {
    margin-bottom: 4px;
}

#content .meta {
    color: #a9a9a9;
    font-size: 12px;
    font-style: italic;
}

#content .message {
    color: black;
}

#south {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 60px;
    line-height: 60px;
    width: 100%;
    background: #708090;
}

#south input {
    width: 100%;
    line-height: 24px;
    border: 1px solid gray;
    border-radius: 4px;
}